<!DOCTYPE html>
<html>

<head>
  <title>Markdown Editor for Firefox</title>
  <meta charset="utf-8">
  <link rel="manifest" href="/pwa.json" />
  <meta name="theme-color" content="#317EFB" />
  <meta name="viewport" content="width=device-width,maximum-scale=1">
  <link href="./scripts/bundle.min.css" rel="stylesheet">
</head>

<body>
  <div id="app" class="container">
    <div class="navbar navbar-default">

      <div class="navbar-header">
        <div class="row">
          <div class="col-sm-6 spacing-right">
            <span class="navbar-brand logo"><i class="fab fa-markdown"></i></span>
          </div>
          <div class="col-sm-6 spacing-right">
            <span class="navbar-brand right ">
              <a class="icons margin-right" href="#" title='Save read me locally' v-on:click="saveLocally" tabindex="-1">
                <i class="fas fa-download"></i>
              </a>


              <a class="icons margin-right" title='Export to  HTML' target="blank" v-on:click="exportHTML" tabindex="-1">
                <i class="fas fa-code"></i>
              </a>
              <a class="icons margin-right" title='Markdown cheatsheet' target="blank" v-on:click="cheatSheet" tabindex="-1">
                <i class="fas fa-book"></i>
              </a>
              <a class="icons " title='Need help' target="blank" href="https://www.robertgabriel.ninja/contact?from=markdownapp"
                tabindex="-1">
                <i class="fas fa-question-circle"></i>
              </a>
            </span>

          </div>
        </div>

      </div>
    </div>



    <div class="row editor">
      <!-- Editor -->
      <div class="col-sm-6 spacing-right">
        <textarea class="form-control text-editor" rows="5" id="editor" @keyup="changeHandler()" :value="editor" @input="update"></textarea>
      </div>

      <!-- Cheat Sheet -->
      <div class="col-sm-6" v-if="showCheatSheet">
        <div class="preview" id="cheatsheet" v-html="compiledCheatSheet">
        </div>
      </div>

      <!-- Show markdown  -->
      <div class="col-sm-6" v-if="!showHTML && !showCheatSheet">
        <div class="preview" id="preview" v-html="compiledMarkdown">
        </div>
      </div>

      <!-- Show Html -->
      <div class="col-sm-6" v-if="showHTML && !showCheatSheet">
        <div class="preview" id="html">
          {{ compiledMarkdown }}
        </div>
      </div>
    </div>
  </div>
  <script src="./scripts/vendor.js" type="text/javascript"></script>
  <script src="./scripts/popup.js" type="text/javascript"></script>
</body>

</html>